<div class="container">
  <h1>GitHub Stats Dashboard</h1>

  <BsNavbar
    @type="light"
    @backgroundColor="light"as |navbar|>
    

    <navbar.content>
      <div class="navbar-header">
        {{navbar.toggle}}
        <LinkTo @route="main" @class="navbar-brand">Projets</LinkTo>
      </div>
      <navbar.nav as |nav|>
        
      </navbar.nav>
    </navbar.content>
  </BsNavbar>
  

  
  {{outlet}}
</div>
