
<div class="main-container">
  <div class="dashboard-line">
    <ColumnIssues @columnName="SomeName" @numberOfIssues="150">
    </ColumnIssues>
    <ColumnIssues @columnName="SomeOtherName" @numberOfIssues="20">
    </ColumnIssues>
  </div>
</div>